footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	font-family: 'fira sans', sans-serif;
}

.fun-text {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 900;
	font-size: 120%;
}
.card {
	border: none;
}

.feedback {
	text-align: center;
	border-top: thin outset orange;
	width: 50%;
	margin: .5em auto;
}
.hide {
	display: none;
}